<section class="landing-page">
        <button class="login-button" mat-icon-button matTooltip="Login" (click)="login()">
          <mat-icon class="login-icon">login</mat-icon>
        </button>
  <div class="glass-card">
    <div class="container">
      <div class="box a">
        <h1 class="gradient-text" >Hello, I'm Amarnath</h1>
        <p class="gradient-text">Full Stack Developer | Java & Angular</p>
        <button class="cta-button" (click)="guestLogin('guest_user@gmail.com','12345')">Explore My Work</button>
      </div>
      <div class="box b">
        <img src="assets/images/landingPage.png" />
      </div>
    </div>
  </div>
</section>
