@import './app/styles/themes';

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.mat-mdc-button {
  color: var(--text-color);
}
